*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "montserrat";
    color: aliceblue;
}

html body{
    height: 100%;
    width: 100%;
    perspective: 800px;
}
#nav{
    width: 100%;
    height: 100px;
    /*background-color: black;*/
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 0 40px;
    justify-content: flex-start;
    position: fixed;
    z-index: 99;
}

#nav img{
    width: 80px;
}
#nav h4{
    font-weight: 150;
}
video {
  width: 100%;
  height: 100%;
 object-fit: cover;
 position: fixed;
 z-index: -1;
}

#main{
    position: relative;
    background-color: rgba(16, 2, 16, 0.368);
     z-index: 2;


}
#page1{
    height:100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}

#page1 h1{
    font-size: 100px;
    font-weight: 900;
    align-items: center;
    position: relative;
   
}
#page1 h1::before{
    content:"EAT.DRINK.PLAY.";
    position: absolute;
    color: #000;
    top: -2px;
    left: -2px;
    -webkit-text-stroke:1px greenyellow;
    z-index: -1;
}





#page1 h2{
    font-size: 30px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
}

#page p{
    font-size: 15px;
    font-weight: 500;
    width: 30%;

}
#page2{
    min-height:100vh;
    width: 100%;
    z-index: 10;
}

#scroller{
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    position: relative;
    z-index: 10;


}
#scroller::-webkit-scrollbar{
    display: none;
}
#scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
    

}


#scroller h4{
    display: inline-block;
    font-size: 140px;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 15px;
    -webkit-text-stroke: 2px greenyellow;
    color: transparent;
    transition:all linear 0.5s ;
   
}

@keyframes scroll{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}


#scroller h4:hover{
    color:rgb(160, 220, 22);
    -webkit-text-stroke: 2px #000000;
}

#cursor{
    height: 25px;
    width:25px;
    background-color: rgb(206, 240, 83);
    border-radius: 50%;
    position: fixed;
    z-index:9;
}
#cursor-blur{
     height: 300px;
    width:300px;
    background-color: rgb(206, 240, 83);
    border-radius: 50%;
    position: fixed;
     filter: blur(110px);
    z-index: 0;

}
#about-us{
    height: 40vh;
    width: 100%;
    /*background-color: aqua;*/
    display: flex;
    padding: 0 50px;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 10;

}
#about-us img{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    object-fit: cover;
}

#about-in{
    width: 40%;
    text-align: center;
}
#about-in h3{
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 40px;

}
#about-in p{
    font-size: 20px;
    line-height: 20px;
}

#card-container{
    
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;


}
.card{
    height: 50vh;
    width: 25%;
    border-radius: 15%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
   
}

#card-1{
    background-image: url("card1.avif");
    
}
#card-2{
    background-image:url("card2.webp");

}
#card-3{
    background-image:url("card3.avif") ;
}
#overlay{
    height: 100%;
    width: 100%;
    padding-top: 30px;
    background: greenyellow;
    border-radius: 15%;
    overflow:hidden;
    opacity: 0;
    transition: all ease 0.6s;
    
}
#overlay h3{
    font-size: 40px;
    font-weight: 800;
    color: #000;
    padding-left: 10px;
    white-space: nowrap;
  

}
#overlay p{
    font-size: 15px;
    color: #000;
    padding-top: 20px;

}

.card:hover #overlay{
    opacity: 1;
}
.card:hover{
    transform: rotate3d(1,1,0,20deg);
}

#page3{
    min-height:100vh;
    width: 100%;
    z-index: 10;
}
#nameda{
    height: 30vh;
    width: 100%;
    background: linear-gradient(to bottom,greenyellow,green);
    
    justify-content: space-between;
  

}
#nameda h3{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 30px;
    font-weight: 2000;
    color: #000;
    padding-top: 50px;
    justify-content: center;
    line-height: 50px;
  
    
}

